* {
    padding: 0;
    margin: 0;
    border: 0;
    }
    *,
    *:before,
    *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    :focus,
    :active {
    outline: none;
    }
    a:focus,
    a:active {
    outline: none;
    }
    nav,
    footer,
    header,
    aside {
    display: block;
    }
    html,
    body {
    height: 100vh;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    input,
    button,
    textarea {
    font-family: inherit;
    }
    input::-ms-clear {
    display: none;
    }
    button {
    cursor: pointer;
    }
    button::-moz-focus-inner {
    padding: 0;
    border: 0;
    }
    a,
    a:visited {
    text-decoration: none;
    }
    a:hover {
    text-decoration: none;
    }
    ul li {
    list-style: none;
    }
    img {
    vertical-align: top;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-size: inherit;
    font-weight: 400;
    }

    @font-face {
  font-family: 'Dela';
  src: url("fonts/DelaGothicOne-Regular.ttf");
  }
  @font-face {
    font-family: 'Inter';
    src: url("fonts/Inter-Regular.otf");
    }
    @font-face {
        font-family: 'Comfortaa';
        src: url("fonts/Comfortaa.ttf");
        }


        .footer{
            height: 100px;
            background: #09595E;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .footer_part1, .footer_part2{
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        .footer_part1, .footer_part2{
            gap: 13px;
        }
        .contacts{
            font-family: 'Comfortaa';
            font-size: 20px;
            font-weight: 400;
            line-height: 17px;
            text-align: left;
            color: white;
        }
        .post a{
            font-family: 'Comfortaa';
            font-size: 16px;
            font-weight: 400;
            line-height: 10px;
            margin-left: -23px;
        }
        .post p {
            font-family: 'Comfortaa';
            font-size: 16px;
            font-weight: 400;
            line-height: 10px;
            color: white;
            margin-left: -23px;
        }
        .contacts1, .contacts2{
            display: flex;
            align-items: center;
            gap: 2px;
        }
        .gmail {
            text-align: left;
        }
        .gmail img{
            width: 50%;
        }
        .smile img{
            width: 51%;
        }




.conteiner {
    background-color: #D5DADD;
}
.main {
    display: flex;

}
.main button {
    border: 3px solid black;
    background-color: #D5DADD;
    border-radius: 28px;
    padding: 11px 20px;
    font-family: 'Inter';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
}
.button_main:hover{
    background-color: #09595E;
    border-color: white;
    color: white;
}
        .main_text1 p{
            font-family: 'Dela';    
            font-size: 50px;
            font-weight: 400;
            line-height: 50px;
            text-align: center;
            }
        .main_text2{    
            font-family: 'Dela';
            font-size: 75px;
            font-weight: 400;
            line-height: 90px;
            margin-bottom: 10px;
            text-align: center;
            color: #09595E;
        }
        .main_text3{
            font-family: 'Dela';    
            font-size: 40px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            text-shadow: 0px 5px 6px rgb(102, 94, 94);
        }

.conteiner2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.row1 {
    display: flex;
    justify-content: space-around;
    margin-top: 62px;
}
.row2 {
    display: flex;
    justify-content: space-around;
}
.card {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 40px;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.card_image{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.card_image img{
    width: 79%;
}
.card_name {
    color: #914DA8;
    font-family: 'Dela';
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 3px 6px rgb(119, 112, 112);
}
.card_prof {
    color: black;
    font-family: 'Inter';
    text-align: center;
    font-size: 19px;
}
.card_skill {
    width: 90%;
    color: #914DA8;
    font-family: 'Dela';
    font-size: 15px;
    text-shadow: 0px 2px 2px rgb(119, 112, 112);
}
.card_skill span {
    color: black;
    font-family: 'Inter';
    font-size: 15px;
    text-shadow: 0px 0px 0px rgb(119, 112, 112);
} 
.card_service {
    width: 90%;
    color: #914DA8;
    font-family: 'Dela';
    line-height: 18px;
    font-size: 15px;
    text-shadow: 0px 2px 2px rgb(119, 112, 112);
}
.card_service span {
    color: black;
    font-family: 'Inter';
    font-size: 15px;
    text-shadow: 0px 0px 0px rgb(119, 112, 112);
} 
.card_about {
    width: 90%;
    color: #914DA8;
    font-family: 'Dela';
    font-size: 15px;
    text-shadow: 0px 2px 2px rgb(119, 112, 112);
}
.card_about span {
    color: black;
    font-family: 'Inter';
    font-size: 15px;
    text-shadow: 0px 0px 0px rgb(119, 112, 112);
} 
.card_button {
    margin-bottom: 15px;
    background-color: #914DA8;
    padding: 15px 15px;
    border-radius: 40px;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_button a {
    color: #FFFFFF;
    font-size: 19px;
    font-family: 'Dela';
    text-shadow: 0px 5px 5px rgb(64, 64, 64);
}

.conteiner3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
}
.conteiner3_text1{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 80px;
    padding: 15px 20px;
    margin-bottom: 35px;
    color: #09595E;
    font-family: 'Inter';
    font-size: 24px;
}
.conteiner3_text1:hover{
    border: 3px solid #09595E;
    background-color: white;
}
.conteiner3_text1 a {
    color: #09595E;
}
.conteiner3_text2{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 80px;
    padding: 15px 20px;
    color: #09595E;
    font-family: 'Inter';
    font-size: 24px;
    margin-bottom: 35px;
}
.conteiner3_text2 a {
    color: #09595E;
}
.conteiner3_text2:hover {
    border: 3px solid #09595E;
    background-color: white;
    color: white;
    border-radius: 80px;
    padding: 15px 20px;
}
.card_image1{
    display: flex;
    justify-content: center;
}
.card_image1 img{
    width: 70%;
}
.card_anonim {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 40px;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 
.card_anonim1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card_name1 {
    color: #914DA8;
    font-family: 'Dela';
    text-align: center;
    font-size: 27px;
    text-shadow: 0px 3px 6px rgb(119, 112, 112);
}